.button {
  display: inline-flex;
  padding: rem(12px);
  align-items: center;
  background-color: transparent;
  border: solid 2px var(--color-background-tertiary);
  border-radius: rem(4px);
  font-size: rem(12px);
  font-weight: bold;
  text-transform: uppercase;
  line-height: rem(16px);
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: var(--transition-duration-default);
  -webkit-tap-highlight-color: transparent;

  @media (pointer: fine) {
    &:hover {
      background-color: var(--color-background-tertiary);
      color: var(--color-text-tertiary);
    }
  }

  & > *:nth-child(n+2) {
    margin-left: rem(8px);
  }
}

.button--primary {
  background-color: var(--color-background-primary);
  border-color: var(--color-background-primary);
  color: var(--color-text-primary);

  @media (pointer: fine) {
    &:hover {
      background-color: transparent;
      color: var(--color-background-primary);
    }
  }
}

.button--secondary {
  background-color: var(--color-background-secondary);
  border-color: var(--color-background-secondary);
  color: var(--color-text-secondary);

  @media (pointer: fine) {
    &:hover {
      background-color: transparent;
      color: var(--color-background-secondary);
    }
  }
}

.button--reverse {
  flex-direction: row-reverse;

  & > *:nth-child(n+2) {
    margin-right: rem(8px);
    margin-left: 0;
  }
}

.button__icon {
  font-size: 1.5em;
}

.button__label {
  flex-grow: 1;
  text-align: center;
}