{% set tag = link ? 'a' : 'button' %}

{% set defaults = {
  class: 'button'
} %}

{% if not link %}
  {% set attributes = { type: 'button' }|merge(attributes|default({})) %}
{% endif %}

<{{ tag }} {{ tag_attributes(attributes, defaults) }}>
  {% if icon %}
    <span class="button__icon">
      {% include '../icon/template.twig' with icon only %}
    </span>
  {% endif %}
  {% if label %}
    <span class="button__label">{{ label }}</span>
  {% endif %}
</{{ tag }}>
