{% extends '../default/template.twig' %}

{% block header %}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col">
      <img width="128" height="128" src="{{ sourcePath }}/assets/images/logo.svg" alt="@fiad/carpentry" data-reveal>
      <h1 data-reveal>{{ title }}</h1>
      <h2 class="h4" data-reveal>{{ subtitle }}</h2>
      <p data-reveal>{{ abstract|raw }}</p>
      <div data-reveal>
        {% include 'library/components/button/template.twig' with button only %}
      </div>
    </div>
  </div>
{% endblock %}