// PATHS
$assets: '/src/assets';
// RESPONSIVE
$mq-breakpoints: (
  "tablet": 768px,
  "desktop": 1024px,
  "wide": 1366px
);
// SIZES
$container-maxwidth: 1280px;
$container-padding: 24px;
$grid-gutter: 24px;
$scalar: 8px;
$radius: 4px;
// FONTS
$default-font: 'Montserrat', sans-serif;
$icon-font: "icons";
// COLORS
$black: #000000;
$gray: #BFC0C0;
$white: #FFFFFF;
$primary: #81A684;
$secondary: #EF8354;
$tertiary: #4F5D75;
$indigo: #2D3142;
// MISC
$default-duration: .3s;