   
html {
  font-family: $default-font;
  font-variant-ligatures: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
  text-rendering: optimizeLegibility;
  color: $tertiary;
}

body {
  font-size: 1rem;
  line-height: 1;
}

h1, h2, h3, h4, h5, h6, strong {
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 0.25em;
}

@for $i from 1 through 6 {
  $max: 48px;
  $min: 16px;

  h#{$i} {
    font-size: rem($max - calc(($max - $min) / 5 * ($i - 1)));
  }
}

p {
  line-height: 1.5;
}

em {
  font-style: italic;
}

small {
  font-size: 0.75em;
}

a {
  -webkit-tap-highlight-color: transparent;
}

.c-primary {
  color: $primary;
}

.c-secondary {
  color: $secondary;
}

::selection {
  background-color: $tertiary;
  color: $white;
}