body {
  font-family: var(--font-default);
  font-size: 1rem;
  font-variant-ligatures: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1;
  text-size-adjust: none;
  text-rendering: optimizeLegibility;
  color: var(--color-text-default);
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-bottom: 0.25em;
  font-weight: bold;
}

@for $i from 1 through 6 {
  $max: 48px;
  $min: 16px;

  h#{$i}, .h#{$i} {
    font-size: rem($max - calc(($max - $min) / 5 * ($i - 1)));
  }
}

p, .p {
  margin-bottom: 0.25em;
  line-height: 1.5;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

small {
  font-size: 0.75em;
}

a {
  text-decoration: none;
  color: inherit;
}

::selection {
  background-color: var(--color-background-tertiary);
  color: var(--color-text-tertiary);
}
