{% extends '../base.twig' %}

{% block header %}
  {% include '../../library/components/header/template.twig' %}
{% endblock %}
{% block content %}
  <div class="container">
    <h1>{{ title }}</h1>
  </div>
{% endblock %}
{% block footer %}
  {% include '../../library/components/footer/template.twig' %}
{% endblock %}